@import (reference) "../../styles/common/PublicDefind.less";

.plaintext_box {
  position: relative;
  padding: 20px 0;

  .general-plaintext {
    width: @DefindWidth;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
  }
}