@import (reference) "../../../styles/common/PublicDefind.less";

.banner-select-box {
  padding: 20px;

  p {
    margin-bottom: @verticalSpacing_s  !important;
  }
}

.action-box {
  margin: 10px 0;
}
