.mobile-editor {
  .editor-wrap {
    width: 418px;
    height: 780px;
    background: #fff;
    border-radius: 50px;
    padding-top: 55px;
    margin: 100px auto 0;
    position: relative;

    .mobile-wrap {
      width: 375px;
      height: 667px;
      margin: 0 auto;
      overflow: scroll;
      font-size:50px;
    }
  }
}