@import (reference) "../../styles/common/PublicDefind.less";

.correlationSpecial_box {
    position: relative;
    width: 100%;
    padding: 20px 0;

    .head-tip {
        .h5();
        color: #fff;
        width: @DefindWidth;
        margin: 0px auto 10px;
    }

    .special_list_box {
        .both();
        width: @DefindWidth;
        margin: 0 auto;

        .special_list {
            float: left;
            width: 25%;
            margin-bottom:14px;
            .special_top {
                img {
                    width: 220px;
                    height: 146px;
                }
            }

            .special_bottom {
                width: 220px;
                background: #fff;
                padding: 10px;
                .box-sizing();
                color: @F_C4;
                min-height:56px;
            }
        }
    }
}