.iconTitleText_box {
 
  .rightContent-list {
    margin-bottom: 20px;
    overflow: hidden;

    .list-left {
      display: inline-block;

      .des_icon {
        display: inline-block;
        margin-right: 20px;
        max-width: 50px;
        max-height: 50px;
        vertical-align: -10px;
      }

      .heading {
        display: inline-block;
        background-color: #f0c9aa;
        border-radius: 8px;
        color: #9f3b3c;
        font-size: 36px;
        font-weight: 600;
        padding: 2px 15px;
        margin-right: 30px;
        line-height: normal;
      }
    }

    .list-right {
      display: inline-block;

      .txt {
        color: #f0c9aa;
        font-size: 36px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}