@import (reference) "../../../styles/common/PublicDefind.less";

.editor_box,
.details_box {
  padding: 20px;
  .slider_scroll();

  .spacing-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &>span {
      margin-left: 5px;
    }
  }

  p {
    margin-bottom: @verticalSpacing_s  !important;
  }
}