.editor-content {
  width: 100%;

  .editor-wrap {
    p {
      margin: 0;
    }

    width: 80%;
    background: #fff;
    margin: 100px auto 40px;
    border-radius: 10px;
    padding: 20px;

    .page-wrap>div {
      width: 1200px;
      margin: 0 auto;
    }
  }
}