@import (reference) "../../../styles/common/PublicDefind.less";

.h3(){
  font-size:22px;
}
.item-Manage-content {
  padding: 20px;
  .item-Manage {
    margin-bottom: @verticalSpacing_s;
    overflow: hidden;

    p {
      float: left;
    }

    .item-title {
      float: right;
    }
  }
}

.second-Manage-content {
  padding: 20px;

  p {
    
    margin-bottom: @verticalSpacing_s  !important;
  }
}