@import (reference) '../../styles/common/PublicDefind.less';

.banner_mbox {
  text-align: center;
  .mobile_padding();
  .flex();
  align-items: center;

  &.isFull {
    padding: 0;
  }

  &>img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
  }

  &>video {
    display: block;
    margin: 0 auto;
    object-fit: fill;
  }
}