@import (less) "../../template/Banner/index";
@import (less) "../../template/CorrelationSpecial/index";
@import (less) "../../template/IconTitleText/index";
@import (less) "../../template/PictureText/index";
@import (less) "../../template/Plaintext/index";
@import (less) "../../template/Share/index";
@import (less) "../../template/Audio/index";
@import (less) "../../template/MorePicture/index";

.preview-wrap {
  background: #fff;

  .mask-box {
    display: none !important;
  }
  audio{
    outline:none; 
  }
}