// PC端
@import (less) "../../template/Banner/index";
@import (less) "../../template/CorrelationSpecial/index";
@import (less) "../../template/IconTitleText/index";
@import (less) "../../template/PictureText/index";
@import (less) "../../template/Plaintext/index";
@import (less) "../../template/Share/index";
@import (less) "../../template/Audio/index";
@import (less) "../../template/MorePicture/index";

// 移动端
@import (less) "../../templateMobile/Banner/index";
@import (less) "../../templateMobile/CorrelationSpecial/index";
@import (less) "../../templateMobile/IconTitleText/index";
@import (less) "../../templateMobile/PictureText/index";
@import (less) "../../templateMobile/Plaintext/index";
@import (less) "../../templateMobile/Audio/index";

.preview_content {
  position: relative;

  .preview-wrap {
    background: #fff;
    padding-bottom: 56px;

    iframe {
      border: 0;
      width: 100%;
      height: calc(100vh - 75px);
    }
  }

  .preview-mobile {

    .mobile-content {
      position: relative;

      .editor-wrap {
        width: 418px;
        height: 780px;
        background: #fff;
        border-radius: 50px;
        padding-top: 55px;
        margin: 40px auto 0;
        position: relative;

        .mobile-wrap {
          width: 375px;
          height: 667px;
          margin: 0 auto;
          overflow: scroll;

          iframe {
            border: 0;
            width: 375px;
            height: 660px;

            ::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }

      .qrcode_copy_url {
        position: absolute;
        top: 30%;
        right: 50%;
        margin-right: -500px;

        .qrcode {
          margin-bottom: 64px;

          h3 {
            width: 144px;
            height: 21px;
            font-size: 16px;
            margin-bottom: 10px;
          }

          .qr_box {
            padding: 10px;
            background: #fff;
          }
        }

        .copy_url {
          input {
            width: 164px;
            text-align: center;
            margin-bottom: 16px;
            height: 32px;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.22);
          }

          .copy_box {

            text-align: center;

            button {
              border: 0;
              outline: none;
              background: #1890FF;
              color: #fff;
              font-size: 14px;
              width: 100px;
              height: 32px;
              .border-radius(100px);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .preview-bottom-bar {
    height: 75px;
    line-height: 75px;
    width: 100%;
    background-color: #001529;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    .Mobile_box{
      span,i{
        display: inline-block;
        width:24px;
        height:24px;
        cursor: pointer;
      }
      span{
      
        background:url("https://img.wbp5.com/upload/files/master/2020/08/11/113724319.png");
        background-size: cover;
        &:hover{
          background:url("https://img.wbp5.com/upload/files/master/2020/08/11/113833898.png") center;
          background-size: cover;
        }
      }
      .span_active{
        background:url("https://img.wbp5.com/upload/files/master/2020/08/11/113833898.png") center;
        background-size: cover;
      }
      i{
        background:url("https://img.wbp5.com/upload/files/master/2020/08/11/113926848.png");
        background-size: cover;
      
        &:hover{
          background:url("https://img.wbp5.com/upload/files/master/2020/08/11/113914510.png");
          background-size: cover;
        }
      }
      .i_active{
        background:url("https://img.wbp5.com/upload/files/master/2020/08/11/113914510.png");
        background-size: cover;
      }
    }
  }
}