@import (reference) "../../styles/common/PublicDefind.less";

.icon_title_text_box {
  .mobile_padding();
  .flex();
  flex-direction: column;

  .item_list {
    margin-bottom: 0.1rem;
    width: 100%;
    font-size: 12px;
    .flex();
    align-items: center;

    .des_icon {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.08rem;
      margin-right: 0.1rem;
    }

    .heading {
      font-weight: 600;
      color: #9f3b3c;
      background-color: #f0c9aa;
      border-radius: 0.04rem;
      padding: 0.08rem 0.08rem;
      align-self: center;
    }

    .txt {
      align-self: center;
      font-size: 12px;
      font-weight: 600;
      color: #f0c9aa;
      margin-left: 10px;
    }
  }
}