@import (reference) "../../styles/common/PublicDefind.less";

.icon_title_text_box {
  .mobile_padding();
  .flex();
  flex-direction: column;

  .item_list {
    margin-bottom: .1rem;
    width: 100%;
    font-size: .12rem;
    .flex();
    align-items: center;

    .icon-box {
      .flex();
      align-items: center;

      .des_icon {
        width: .3rem;
        height: .3rem;
        border-radius: .04rem;
        margin-right: .1rem;
      }
    }

    .heading {
      font-weight: 600;
      color: #9f3b3c;
      background-color: #f0c9aa;
      border-radius: .04rem;
      padding: .06rem .06rem;
      align-self: center;
      line-height: .18rem;
    }

    .txt {
      align-self: center;
      font-size: .14rem;
      font-weight: 600;
      color: #f0c9aa;
      margin-left: .1rem;
    }
  }
}